<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\FusionAlliance.Mediator.Common.Tests\packages.config" />
  <repository path="..\src\FusionAlliance.Mediator.Ninject.Tests\packages.config" />
  <repository path="..\src\FusionAlliance.Mediator.Ninject\packages.config" />
</repositories>